<div class="containter">
  <div class="jumbotron">
    <h3>Calculator</h3>
    <div class="form-control text-right input mt-4">{{ input }}</div>
    <div class="form-control text-right input mt-2">{{ answer }}</div>
    <div class="form-control text-right input mt-2">{{ binaryAndHexadecimalAnswer.toString(2) }}</div>
    <div class="form-control text-right input mt-2">{{ binaryAndHexadecimalAnswer.toString(16) }}</div>

    <div class="row mt-2">
      <div class="col-2">
        <div class="btn btn-dark btn-block" (click)="addNumber('7')">7</div>
      </div>
      <div class="col-2">
        <div class="btn btn-dark btn-block" (click)="addNumber('8')">8</div>
      </div>
      <div class="col-2">
        <div class="btn btn-dark btn-block" (click)="addNumber('9')">9</div>
      </div>
      <div class="col-2">
        <div class="btn btn-warning btn-block" (click)="clearLast()">DEL</div>
      </div>
      <div class="col-2">
        <div class="btn btn-danger btn-block" (click)="clear()">AC</div>
      </div>
    </div>

      <div class="row mt-2">
        <div class="col-2">
          <div class="btn btn-dark btn-block" (click)="addNumber('4')">4</div>
        </div>
        <div class="col-2">
          <div class="btn btn-dark btn-block" (click)="addNumber('5')">5</div>
        </div>
        <div class="col-2">
          <div class="btn btn-dark btn-block" (click)="addNumber('6')">6</div>
        </div>
        <div class="col-2">
          <div class="btn btn-info btn-block" (click)="addOperator('*')">*</div>
        </div>
        <div class="col-2">
          <div class="btn btn-info btn-block" (click)="addOperator('/')">/</div>
        </div>
      </div>

    <div class="row mt-2">
      <div class="col-2">
        <div class="btn btn-dark btn-block" (click)="addNumber('1')">1</div>
      </div>
      <div class="col-2">
        <div class="btn btn-dark btn-block" (click)="addNumber('2')">2</div>
      </div>
      <div class="col-2">
        <div class="btn btn-dark btn-block" (click)="addNumber('3')">3</div>
      </div>
      <div class="col-2">
        <div class="btn btn-info btn-block" (click)="addOperator('+')">+</div>
      </div>
      <div class="col-2">
        <div class="btn btn-info btn-block" (click)="addOperator('-')">-</div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-2">
        <div class="btn btn-dark btn-block" (click)="addNumber('0')">0</div>
      </div>
      <div class="col-2">
        <div class="btn btn-dark btn-block" (click)="addNumber('.')">.</div>
      </div>
      <div class="col-2">
        <div class="btn btn-dark btn-block" (click)="calculate()">=</div>
      </div>
      <div class="col-2">
        <div class="btn btn-info btn-block" (click)="addOperator('^2')">^2</div>
      </div>
      <div class="col-2">
        <div class="btn btn-info btn-block" (click)="addOperator('√')">√</div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-2">
        <div class="btn btn-primary btn-block" (click)="addBracket('(')" >(</div>
      </div>
      <div class="col-2">
        <div class="btn btn-primary btn-block" (click)="addBracket(')')">)</div>
      </div>
    </div>


  </div>
</div>
